html {
  font-family: "Libre Baskerville", serif;
  background-color: #fdd4b8;
}

.masthead {
  background-color: #fff;

  color: #707070;
}

.nav {
  position: relative;
  background-color: #f5f4f4;
}

.nav a {
  color: #707070;
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
}

.nav a:focus {
  background-color: #f8b2b7;
}

.banner {
  position: relative;
  background-color: #f8b2b7;
  color: #fff;
}

.why {
  background-color: #fdd4b8;
  color: #333;
}

.inside-box {
  background-color: #ffe8d8;
  border-color: #faac77;
  border-style: solid;
  border-width: .5em;
}

.pick {
  background-color: #b6d6eb;
  background-image: url("../images/scattered-limes2.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  color: #fff;
}

.boxes {
  background-color: #f8b2b7;
  color: #fff;
}

.community {
  background-color: #faeea8;
  color: #fff;
}

.btn {
  text-decoration: none;
  background-color: #996888;
  border-color: #996888;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

input:focus {
  background-color: #faac77;
}

.btn:hover {
  background-color: #f24770;
  border-color: #f16f8e;
}

.btn-2 {
  background-color: #93c38c;
  border-color: #91a38f;

  color: #003d00;
}

.btn-3 {
  background-color: #f24770;
  border-color: #f16f8e;
}

.btn-3:hover {
  background-color: #f16f8e;
  border-color: #f24770;
}

.btn-2:hover {
  background-color: #91a38f;
  border-color: #93c38c;
}

.footer {
  background-color: #f5f4f4;
  color: #707070;
}

.pricing-1 {
  background-color: #f8b2b7;
  color: #fff;
}

.pricing-2 {
  background-color: #faeea8;
  color: #fff;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

h2 {
  color: #333;
  font-family: "Permanent Marker", cursive;
}

tbody tr:nth-child(odd) {
  background-color: #fcbe94;
}

.price {
  width: 7em;
}

.premium {
  width: 6em;
}

table {
  min-width: 50em;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}

.btn:focus {
  transform: scale(1.025);
  background-color: #f8b2b7;
  outline: 3px solid #fff;
}

.btn-2:focus {
  transform: scale(1.025);
  background-color: #f8b2b7;
}

a:focus {
  outline: 3px solid green;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}
